/* Container for the entire form */

:root{
  /* background-color: #141414; */
}



body {
  background-image: url('assets/parabolic-ellipse.svg');
  background-repeat: no-repeat; /* Voorkomt herhalen */
  background-size: cover; /* Schaal de GIF zodat hij het hele scherm vult */
  background-position: center; /* Centreer de GIF */
  background-attachment: fixed; /* Houd de achtergrond vast bij scrollen */
}


.container {
  padding: 20px;
  max-width: 600px;
  margin: 50px auto;
  font-family: "Arial", sans-serif;
  border: 1px solid #ddd;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color:rgba(166, 41, 69, 0.6);
  color: #fff;
}

/* Heading style */
.heading {
  text-align: center;
  color: white;
  margin-bottom: 20px;
}
.subHeading{
  text-align: center;
  color: white;
  margin-bottom: 20px;
}

/* Form group styling */
.form-group {
  margin-bottom: 15px;
}

/* Label styling */
.label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}

/* Select and input fields styling */
.select,
.input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 16px;
}

/* Button styling */
.button {
  background-color: #007bff;
  color: #fff;
  padding: 10px 15px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 100%;
  transition: background-color 0.3s;
}

/* Hover effect for button */
.button:hover {
  background-color: #0056b3;
}

/* Error and success message styling */
.error {
  color: red;
  text-align: center;
  margin-bottom: 15px;
}

.success {
  color: green;
  text-align: center;
  margin-bottom: 15px;
}
